<div id="letters" style="text-align:center;margin-top:20px;">
<b>Pad-Liste (nur im Uninetz verfügbar):</b>
<a href="/list/a">A</a> - 
<a href="/list/b">B</a> - 
<a href="/list/c">C</a> - 
<a href="/list/d">D</a> - 
<a href="/list/e">E</a> - 
<a href="/list/f">F</a> - 
<a href="/list/g">G</a> - 
<a href="/list/h">H</a> - 
<a href="/list/i">I</a> - 
<a href="/list/j">J</a> - 
<a href="/list/k">K</a> - 
<a href="/list/l">L</a> - 
<a href="/list/m">M</a> - 
<a href="/list/n">N</a> - 
<a href="/list/o">O</a> - 
<a href="/list/p">P</a> - 
<a href="/list/q">Q</a> - 
<a href="/list/r">R</a> - 
<a href="/list/s">S</a> - 
<a href="/list/t">T</a> - 
<a href="/list/u">U</a> - 
<a href="/list/v">V</a> - 
<a href="/list/w">W</a> - 
<a href="/list/x">X</a> - 
<a href="/list/y">Y</a> - 
<a href="/list/z">Z</a>
</div>
